/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Background */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

/* Card */
.card {
    background: white;
    padding: 35px 30px;
    border-radius: 20px;
    width: 320px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* Input */
input {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #f1f5f9;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #4facfe;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #007bff;
}

/* Weather Result */
#result {
    margin-top: 25px;
}

#cityName {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#temp {
    font-size: 48px;
    font-weight: bold;
    color: #4facfe;
}

/* Responsive */
@media (max-width: 400px) {
    .card {
        width: 90%;
        padding: 25px;
    }
}
#icon {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    display: block;
}

